* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Halvetica, Arial, Helvetica, sans-serif;
}

.btn {
  height: 2.5em;
  border: 1px solid grey;
  background-color: white;
  border-radius: 20px;
  width: 8em;
  margin: 30px 0;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}