//======================KEYFRAMES======================//
@keyframes heroImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  position: relative;
  max-width: 1200px;
  height: 65vmin;
  max-height: 600px;
  margin-top: 15vmin;
  background-color: #fff;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  animation-name: heroImg;
}

.heroText {
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: left;
  background-color: #00000083;
  padding: 0 40px;
  width: calc(100% - 80px);
}

.heroText h3 {
  font-weight: 300;
  font-size: 2em;
}

.heroText p {
  font-weight: 300;
  font-size: 1.2em;
}

.carousel {
  overflow: hidden;
  max-height: 100%;
}

.slideInner___2mfX9 {
  max-height: 65vmin;
}

.tabHero {
  margin-top: 15vmin;
  height: 70vh;
  max-height: 600px;
  overflow: hidden;
}

.tabHero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


@media (min-width: 1001px) {
  .hero {
    border-radius: 5px 5px 0 0;
  }

  .hero img {
    border-radius: 5px 5px 0 0;
  }

  .tabHero img {
    border-radius: 5px 5px 0 0;
  }
}

@media (max-width: 1000px) {
  .heroText h3 {
    font-weight: 300;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .heroText p {
    font-weight: 100;
    font-size: 1em;
    margin-bottom: 20px;
  }
}